/**
footer相关的样式
 */
. footer{
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer .links{
    text-align: center;
    line-height: 30px;
    color: #666;
}
.footer .copyright{
    text-align: center;
    line-height: 30px;
    color: #666;
}