/**
header相关的样式
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
}
.nav-simple .logo:link,
.nav-simple .logo:visited,
.nav-simple .logo:hover,
.nav-simple .logo:active{
    color: #c60023;
    text-decoration: none;
}
