<div class="operation">
    <div class="w">
        <ul class="user-sate">
            <li><a href="./user-login.html" class="link">登录</a></li>
            <li><a href="./user-register.html" class="link">注册</a></li>
        </ul>
        <ul class="user-info">
            <li><a href="#" class="link">关于MMail</a></li>
            <li><a href="#" class="link">我的MMail</a></li>
            <li><a href="#" class="link">我的订单</a></li>
            <li><a href="#" class="link"> <i class="fa fa-shopping-cart"></i>
                购物车(<span class="cart-count">0</span>)</a></li>
        </ul>
    </div>
</div>

