<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%= require('html-loader!./common/head-common.html') %>
    <title>商品详情</title>
</head>
<body>
<%= require('html-loader!./common/nav-operation.html') %>
<%= require('html-loader!./common/nav-search.html') %>

<div class="crumb">
    <div class="w">
        <a href="#" class="link">MMail</a>
        <span>&gt;</span>
        <a href="#" class="link">商品详情</a>
    </div>
</div>

<div class="w page-wrap">

</div>

<%= require('html-loader!./common/footer.html') %>
</body>
</html>