<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%= require('html-loader!./common/head-common.html') %>
    <title>商品详情</title>
</head>
<body>
<%= require('html-loader!./common/nav-operation.html') %>
<%= require('html-loader!./common/nav-search.html') %>

<div class="crumb">
    <div class="w">
        <a href="#" class="link">MMail</a>
        <span>&gt;</span>
        <a href="#" class="link">商品详情</a>
    </div>
</div>

<div class="w">
    <!--商品图片-->
    <div class="p-img-con">
        <div class="main-p-img">
            <img class="main-img" src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg">
        </div>
        <ul class="p-img-list">
            <li class="p-img-item">
                <img class="p-img" src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg">
            </li>
            <li class="p-img-item">
                <img class="p-img" src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg">
            </li>
            <li class="p-img-item">
                <img class="p-img" src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg">
            </li>
            <li class="p-img-item">
                <img class="p-img" src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg">
            </li>
        </ul>
    </div>
    <!--商品信息-->
    <div class="p-info-wrap">
        <p class="p-name">【测试学习使用】Apple iPhone 7 Plus (A1661) 128G手机</p>
        <p class="p-subtitle">iPhone 7，现更以lv色呈现。</p>
        <div class="info-item p-price-con">
            <span class="label">价格:</span>
            <span class="p-price">￥69971</span>
        </div>
        <div class="info-item p-quantity-con">
            <span class="label">库存:</span>
            <span class="p-quantity">120254</span>
        </div>
        <div class="info-item">
            <span class="label">数量:</span>
            <input class="p-count" value="1" readonly="readonly">
            <span class="p-count-btn plus" data-opera-type="plus">+</span>
            <span class="p-count-btn minus" data-opera-type="minus">-</span>
        </div>
        <div class="info-item"> <a class="btn cart-add">加入购物车</a> </div>
    </div>
</div>


<%= require('html-loader!./common/footer.html') %>
</body>
</html>