<div style="margin: 15px;">

    <form class="layui-form">
        <input id="permissionId" type="hidden" name="permissionId">
        <div class="layui-form-item">
            <label class="layui-form-label">父节点</label>
            <div class="layui-input-block">
                <input type="text" id="parentValue"  lay-verify="required"
                       placeholder="请选择父节点" autocomplete="off" class="layui-input">
                <input type="hidden" name="parentId" id="parentId">
                <div id="menuContent" class="menuContent" style="display:none; position: absolute;z-index: 100">
                    <ul id="parentValueTree" class="ztree" style="margin-top:0;"></ul>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限名</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入权限名" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限描述</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入权限描述" autocomplete="off" class="layui-input"
                       value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">序列号</label>
            <div class="layui-input-block">
                <input type="text" id="code" name="code" placeholder="请输入序列号" autocomplete="off"
                       class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">tartget地址</label>
            <div class="layui-input-block">
                <input type="text" id="target" name="target" placeholder="为菜单类型时填写" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select id="type" name="type" lay-filter="type">
                    <option value="0">权限</option>
                    <option value="1">菜单</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="可用" checked>
                <input type="radio" name="status" value="1" title="不可用">
            </div>
        </div>
        <button lay-filter="editPermission" lay-submit style="display: none;"></button>
    </form>
</div>