<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <%= require('html-loader!./common/head-common.html') %>
</head>
<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
            <i class="layui-icon">&#xe608;</i> 添加信息
        </a>
        <a href="#" class="layui-btn layui-btn-small" id="getSelected">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 删除选中
        </a>
    </blockquote>
    <!--用户信息展示表格-->
    <fieldset class="layui-elem-field">
        <legend>数据列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 30px;"><input type="checkbox" lay-filter="allselector" lay-skin="primary"></th>
                    <th>角色名</th>
                    <th>排序号</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
    </fieldset>
    <!--分页-->
    <div class="admin-table-page">
        <div id="paged" class="page">
        </div>
    </div>

</div>

<!--用户信息表格模板-->
<script type="text/html" id="tpl">
    {{# layui.each(d.list, function(index, item){ }}
    {{#
    var setStatus=function(status){
    if(status===0){
    return '禁用';
    }else if(status===1){
    return '正常可用';
    }else{
    return '未知';
    }
    }
    }}
    {{#
    var formatTimestamp = function(timestamp){
    var newDate = new Date();
    newDate.setTime(timestamp);
    return newDate.toLocaleString();
    }
    }}
    <tr>
        <td><input type="checkbox" lay-skin="primary"></td>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.description }}</td>
        <td>{{ setStatus( item.status) }}</td>
        <td>{{ formatTimestamp(item.createTime) }}</td>
        <td>
            <a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>
            <a href="javascript:;" data-id="{{ item.roleId }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
            <a href="javascript:;" data-id="{{ item.roleId }}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
        </td>
    </tr>
    {{# }); }}
</script>

<%= require('html-loader!./common/footer.html') %>
</body>
</html>