<div style="margin: 15px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="required|username"placeholder="请输入用户名" autocomplete="off" class="layui-input" value="yuyu">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密　码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input" value="123123">
            </div>
            <div class="layui-form-mid layui-word-aux">密码在6~18个字符之间</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" name="phone" lay-verify="required|phone"placeholder="请输入手机号码" autocomplete="off" class="layui-input" value="13111111111">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮　箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="required|email" placeholder="请输邮箱地址" autocomplete="off" class="layui-input" value="1321@qq.com">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="可用" checked>
                <input type="radio" name="status" value="1" title="不可用">
            </div>
        </div>
        <button lay-filter="addUser" lay-submit style="display: none;"></button>
    </form>
</div>